* {
	font-family: 'PT Serif', serif;
}


.cirlcle {
	height: 40px;
    width: 40px;
    line-height: 20px;
    border: 2px solid grey;
    text-align: center;
    border-radius: 50%;
    margin: 6px;
    color: #41a745;
    font-style: 1.2rem !important
}
.hero-section{
    height: 100vh;
}
.content {
	font-size: 1.2rem;
    line-height: 33px;
    letter-spacing: 0.4px;

}
.header{
	font-size: 3rem !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #5f5f5f;
    transition: 1s;

}

.service-block{
	letter-spacing: 1px
	font-weight:600;
}

.service-text {
    font-size: 1.3rem;
    text-transform: lowercase;
}
.service {
	height: 80px;
    width: 80px;
    background-color: #41a745;
    font-size: 2rem;
    text-align: center;
    border-radius: 50px;
    color: #fff;
    line-height: 80px
}

.text {
	padding-top: 10px;
}
.title {
    text-transform: uppercase;
}


.grey-scale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.contact {
    font-size: 1.2rem;
    letter-spacing: 0px;
    line-height: 26px;
}


.contact .fas {
    font-size: 2rem !important;
}

/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  /*background-color: #fff;*/
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #666;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}


.nav-link {
    display: block;
    padding: 0px !important;
    text-align: center;
    line-height: 36px;
    color: #666;
}